<div class="user-profile-avatar">
  {{animated-bound-avatar @user "huge"}}
  <UserAvatarFlair @user={{@user}} />
  {{! template-lint-disable no-capital-arguments }}
  <div>
    <PluginOutlet
      @name="user-profile-avatar-flair"
      @connectorTagName="div"
      @outletArgs={{hash model=@user}}
    />
  </div>
</div>
